{{- if eq .osid "linux-arch" -}}
#!/bin/bash
yay -S --needed {{ .packages.linux.arch | quoteList | join " " }}
{{ else if eq .osid "darwin" -}}
#!/bin/bash
brew bundle --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{ end -}}
