[user]
  email = hello@spenserj.com
  name = Spenser Jones
  signingkey = 477D8D46
[core]
  editor = vim
  autocrlf = input
  fileMode = false
[color]
  ui = auto
  interactive = auto
[diff]
  renames = copies
[alias]
  tree = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  vtag = tag --sort=version:refname
  cleanup = "!git branch --merged | grep -v '\\*\\|master\\|development\\|release-\\*' | xargs -n 1 git branch -d"
[push]
  default = simple
[commit]
#  gpgsign = true
