!! Base16 Tomorrow Dark
#include ".themes/dracula/xresources/Xresources"

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

XTerm*reverseVideo:               on
XTerm*selectToClipboard:          true

URxvt.font:                       9x15,xft:TerminessTTFNerdFontMono
URxvt.depth:                      32
URxvt*scrollBar:                  false
URxvt*mouseWheelScrollPage:       false
URxvt*cursorBlink:                true
URxvt*saveLines:                  5000

! Rebind URxvt copy/paste
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.iso14755: false
