{{ if eq .osid "darwin" -}}
eval "$(/opt/homebrew/bin/brew shellenv)"
source ~/.orbstack/shell/init2.fish 2>/dev/null || :
fish_add_path /Applications/Cursor.app/Contents/Resources/app/bin
{{- end -}}

set PATH $PATH ~/.local/bin

if status is-interactive
  if not set -q TMUX
    # exec tmux
  end
end

starship init fish | source
set fish_greeting

